# OpenMetadata
OM_BASE_URL=http://localhost:8585
OM_USERNAME=admin
OM_PASSWORD=admin

# Google Sheets (from Google Cloud Console)
GOOGLE_SERVICE_ACCOUNT_JSON=./gcp-sa.json
SHEET_ID=your_google_sheet_id_here

# Slack (from api.slack.com/apps)
SLACK_BOT_TOKEN=xoxb-your-token-here
SLACK_CHANNEL=#data-quality

# AI Summarization
GEMINI_API_KEY= your_gemini_key

# Jira (optional)
JIRA_BASE_URL=https://yourorg.atlassian.net
JIRA_EMAIL=you@email.com
JIRA_TOKEN=your-jira-api-token
JIRA_PROJECT_KEY=DQ
